{% extends 'base.html.twig' %}



{% block body %}
    <div class="container row ">

        {% for post in posts %}
            {% if app.user == post.author %}
                        <div class=" col-6 mt-5">

                            <a href="{{ path('show_post',{id:post.id}) }}"><img height="300px" src="{{ vich_uploader_asset(post.image,'imageFile') }}" alt=""></a>

                        </div>
            {% endif %}
{%  endfor%}


    </div>
{% endblock %}
